In [4]:
weather_by_year_ftp_path = "pub/data/ghcn/daily/by_year/"
weather_by_year_local_path = "C:/Users/u32118508/OneDrive - UPEC/Telechargement/Advance Analytics/data_acquisition/data_acquisition/weather/"

weather_stations_ftp_server_file = "pub/data/ghcn/daily/ghcnd-stations.txt"
weather_stations_local_file = weather_by_year_local_path+"ghcnd-stations.txt"
 
start_year = 2012
end_year = 2013
country = "FR"
transformed_output_file_URI = weather_by_year_local_path +"france_weather.sav"

In [5]:
run 00_weather_functions.ipynb

In [38]:
from tqdm import tqdm
import time 
import pandas as pd
# tqdm.pandas()

In [42]:
# running time : 18 mi
# Establish ftp connection
ftp = get_ncdc_ftp_con()
# Download files
get_file_from_ftp(ftp, weather_stations_ftp_server_file, weather_stations_local_file)
get_weather_by_year(ftp, start_year, end_year, weather_by_year_ftp_path, weather_by_year_local_path)

Succsessfully downloaded file: pub/data/ghcn/daily/ghcnd-stations.txt into: C:/Users/u32118508/OneDrive - UPEC/Telechargement/Advance Analytics/data_acquisition/data_acquisition/weather/ghcnd-stations.txt
Succsessfully downloaded file: pub/data/ghcn/daily/by_year/2012.csv.gz into: C:/Users/u32118508/OneDrive - UPEC/Telechargement/Advance Analytics/data_acquisition/data_acquisition/weather/2012.csv.gz
Succsessfully downloaded file: pub/data/ghcn/daily/by_year/2013.csv.gz into: C:/Users/u32118508/OneDrive - UPEC/Telechargement/Advance Analytics/data_acquisition/data_acquisition/weather/2013.csv.gz

In [6]:
years = [_ for _ in range(start_year, end_year+1, 1)] 
france_weather = weather_dp_flow(years, country, 
                                 weather_stations_local_file, weather_by_year_local_path)
france_weather.to_pickle(transformed_output_file_URI) 
# min 20

In [7]:
france_weather.head()

,ID,YEAR_MONTH_DAY,PRCP,SNWD,TAVG,TMAX,TMIN,LATITUDE,LONGITUDE
0,FR000007130,20120101,64.0,NaN,128.0,136.0,119.0,48.0689,-1.7339
1,FR000007130,20120102,2.0,NaN,75.0,113.0,48.0,48.0689,-1.7339
2,FR000007130,20120103,28.0,NaN,112.0,139.0,52.0,48.0689,-1.7339
3,FR000007130,20120104,0.0,NaN,87.0,112.0,45.0,48.0689,-1.7339
4,FR000007130,20120105,6.0,NaN,108.0,132.0,95.0,48.0689,-1.7339

In [45]:
#check how observations are unique --> by combo of cols ID and Date
france_weather[['ID','YEAR_MONTH_DAY']].drop_duplicates().shape, france_weather.shape

((56110, 2), (56110, 9))

In [49]:
pd.set_option('display.float_format', lambda x: '%.2f' % x)

In [53]:
# PRCP = Precipitation (tenths of mm)
# SNOW = Snowfall (mm)                               --> not available in data on Morocco 
# SNWD = Snow depth (mm)                             --> not available in data on Morocco 
# TMAX = Maximum temperature (tenths of degrees C)
# TMIN = Minimum temperature (tenths of degrees C)

In [54]:
france_weather.describe()

,YEAR_MONTH_DAY,PRCP,SNWD,TAVG,TMAX,TMIN,LATITUDE,LONGITUDE
count,56110.00,55820.00,830.00,54611.00,52191.00,47807.00,56110.00,56110.00
mean,20125630.21,22.35,43.80,118.65,164.61,78.45,46.41,3.51
std,5009.85,55.32,70.01,69.36,79.10,65.78,2.47,8.37
min,20120101.00,0.00,10.00,-164.00,-142.00,-208.00,41.92,-5.05
25%,20120702.00,0.00,10.00,71.00,109.00,33.00,44.12,0.46
50%,20121229.00,0.00,30.00,118.00,163.00,81.00,46.59,2.87
75%,20130630.00,18.00,61.00,169.00,222.00,128.00,48.58,5.09
max,20131231.00,1260.00,1651.00,308.00,399.00,273.00,50.57,70.25